# Списки

Структура данных, которая в большинстве языков программирования называется массивом, в Python называется списком.

Список представляет собой последовательность элементов, пронумерованных от 0, как символы в строке. Список может содержать значения **разных** типов данных, однако обычно элементы списка содержат данные одного типа, и на практике редко приходится создавать списки, содержащие элементы разных типов данных.

In [ ]:
numbers = [2, 4, 6, 8, 10]
numbers[2]

6

In [ ]:
# создать пустой список

some_list1 = []
some_list2 = list()

In [ ]:
# Функция list() помимо создания пустого списка может преобразовывать некоторые типы объектов в списки.

print(list(range(10)))
print(list('Hello world'))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

Со списками работают втроенные функции len(), sum(), min(), max(), а также оператор принадлежности in

In [ ]:
len(list(range(10)))

10

In [ ]:
max([10, 5, 20, 1, 14])

20

Как и со строками в списках работают срезы, сложение списков (конкатенация) и умножение списка на число

In [ ]:
print([1, 2] + [3, 4])
print([1, 2] * 3)
print([1, 2, 3, 4, 5][1:3])

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
[2, 3]

# Методы списков

**Добавление и удаление элементов**

In [ ]:
# append() добавляет один элемент в конец списка

some_list = [1, 2, 3]
some_list.append(4)
some_list

[1, 2, 3, 4]

In [ ]:
# extend() добавляет несколько элементов в конец списка. Он принимает ТОЛЬКО итерируемый объект (список, кортеж, строку) и объединяет его с текущим списком.

some_list = [1, 2, 3]
some_list.extend([4, 5, 6])
some_list.extend('Hello world!')
some_list

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [ ]:
# С помощью оператора del можно удалять элементы списка по определенному индексу
# Обратите внимание на синтаксис удаления, так как он отличается от обычного вызова метода

some_list = [1, 2, 3]
del some_list[1]
some_list

[1, 3]

**Строковые методы в списках**

In [ ]:
# Метод split() разбивает строку на слова, используя в качестве разделителя последовательность пробельных символов, и возвращает список из этих слов

s = 'Python is the best language'
words = s.split()
words

['Python', 'is', 'the', 'best', 'language']

In [ ]:
# У метода split() есть необязательный параметр, который определяет, какой набор символов будет использоваться в качестве разделителя между элементами списка

ip = '192.168.1.24'
numbers = ip.split('.')    # указываем явно разделитель
numbers

['192', '168', '1', '24']

In [ ]:
# Метод join() собирает строку из элементов списка, используя в качестве разделителя строку, к которой применяется метод

words = ['Python', 'is', 'the', 'best', 'language']
s = ' '.join(words)
s

'Python is the best language'

**Популярные методы списков**

In [ ]:
insert() - вставляет элемент в указанный индекс списка
index() - возвращает индекс первого вхождения указанного элемента в списке
remove() - удаляет первый элемент из списка, который равен указанному значению
pop() - удаляет элемент из списка по указанному индексу и возвращает его значение. Если индекс не указан, удаляется последний элемент
reverse() - меняет порядок элементов в списке на обратный
count() - возвращает количество элементов в списке, равных указанному значению
clear() - удаляет все элементы из списка, делая его пустым
copy() - возвращает поверхностную копию списка
sort() - сортирует элементы списка в порядке возрастания. Для сортировки по убыванию можно использовать reverse=True

# Списочные выражения

В Python есть механизм для создания списков из неповторяющихся элементов. Такой механизм называется — списочное выражение (list comprehension).

In [ ]:
# Для создания списка целых чисел от 0 до 9 вместо

numbers = []
for i in range(10):
    numbers.append(i)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Можно использовать списочное выражение

numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Общий вид списочного выражения следующий:

[**выражение** for **переменная** in **последовательность**],

где **переменная** — имя некоторой переменной,

**последовательность** — последовательность значений, которые принимает переменная (список, строка или объект, полученный при помощи функции range),

**выражение** — некоторое выражение, как правило, зависящее от переменной

In [ ]:
[c for c in 'abcdefg']

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
[int(num) for num in '123456789']

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Считывание входных данных c помощью списочного выражения**

In [ ]:
# Например, если сначала вводится число n – количество строк, а затем сами строки, то создать список можно так

n = int(input())
lines = [input() for _ in range(n)]

# или сразу опустить описание переменной n

lines = [input() for _ in range(int(input()))]

**Условия в списочном выражении**

In [ ]:
# В списочных выражениях можно использовать условный оператор
# Например, если требуется создать список четных чисел от 0 до 20, то мы можем написать такой код

evens = [i for i in range(21) if i % 2 == 0]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Вложенные циклы**

In [ ]:
# В списочном выражении можно использовать вложенные циклы

# Следующий программный код
numbers = [i * j for i in range(1, 5) for j in range(2)]
numbers

[0, 1, 0, 2, 0, 3, 0, 4]

In [ ]:
# Равнозначен следующему

numbers = []

for i in range(1, 5):
    for j in range(2):
        numbers.append(i * j)
numbers

[0, 1, 0, 2, 0, 3, 0, 4]

# Вложенные списки

Элементами списков могут быть другие списки и в реальной разработке такая конструкция оказывается очень полезной.

In [ ]:
my_list = [[0], [1, 2], [3, 4, 5]]
my_list

[[0], [1, 2], [3, 4, 5]]

Поскольку глубина вложенности списка my_list равна двум, то такой список обычно называют двумерным списком. На практике, как правило, мы работаем с двумерными списками, реже – с трехмерными.

Аналогично работе с обычными списками можно индексировать и вложенные списки, а также применять большинство функций и методов списков.

In [ ]:
my_list = [[0], [1, 2], [3, 4, 5]]
my_list[2]

[3, 4, 5]

In [ ]:
my_list = [[0], [1, 2], [3, 4, 5]]
my_list[2][1]

4

In [ ]:
my_list.append([1, 2, 3])
my_list

[[0], [1, 2], [3, 4, 5], [1, 2, 3]]

# Множества

Множества в Python аналогичены математическим множествам, они поддерживают быстрые операции проверки наличия элемента в множестве, добавления и удаления элементов, операции объединения, пересечения и многие другие.

Особенности множеств:

* все элементы множества различны (уникальны), два элемента не могут иметь одинаковое значение;
* множества неупорядочены, то есть элементы не хранятся в каком-то определенном порядке;
* элементы множества должны относиться к неизменяемым типам данных;
* хранящиеся в множестве элементы могут иметь разные типы данных.

In [1]:
# Чтобы создать множество, нужно перечислить его элементы через запятую в фигурных скобках

numbers = {2, 4, 6, 8, 10}
numbers

{2, 4, 6, 8, 10}

In [ ]:
# Создать пустое множество можно с помощью встроенной функции, которая называется set()

myset = set()  # пустое множество

**Обратите внимание — создать пустое множество с помощью пустых фигурных скобок нельзя:**

In [ ]:
myset = {}  # создается словарь

Встроенная функция **set()** помимо создания пустого множества может преобразовывать некоторые типы объектов в множества.

В функцию set() можно передать один аргумент. Передаваемый аргумент должен быть итерируемым объектом, таким как список, кортеж или строковое значение. Отдельные элементы объекта, передаваемого в качестве аргумента, становятся элементами множества.

In [ ]:
myset1 = set(range(10))          # множество из элементов последовательности
myset2 = set([1, 2, 3, 4, 5])    # множество из элементов списка
myset3 = set('abcd')             # множество из элементов строки
myset4 = set((10, 20, 30, 40))   # множество из элементов кортежа

**Множества не могут содержать повторяющиеся элементы.** Если в функцию set() передать аргумент, содержащий повторяющиеся элементы, то в множестве появится только один из этих повторяющихся элементов.

In [2]:
myset1 = {2, 2, 4, 6, 6}
myset2 = set([1, 2, 2, 3, 3])
myset3 = set("aaaaabbbbccccddd")

print(myset1)
print(myset2)
print(myset3)

{2, 4, 6}
{1, 2, 3}
{'c', 'b', 'd', 'a'}

Если требуется создать множество, в котором каждый элемент — строковое значение, содержащее более одного символа, то строки должны передваться элементами списка

In [3]:
myset = set(['aaa', 'bbbb', 'cc'])

myset

{'aaa', 'bbbb', 'cc'}

Элементы множества могут принадлежать любому **неизменяемому типу данных**: быть числами, строками, кортежами и т.д. Элементы изменяемых типов данных не могут входить в множества, в частности, нельзя сделать элементом множества список или другое множество.

In [4]:
myset1 = {1, 2, [5, 6], 7}  # множество не может содержать список
myset2 = {1, 2, {5, 6}, 7}  # множество не может содержать множество

TypeError: unhashable type: 'list'

# Методы множеств

In [ ]:
add() - добавляет элемент в множество.
remove() - удаляет указанный элемент из множества.
discard() - удаляет указанный элемент из множества, если он присутствует.
pop() - удаляет и возвращает случайный элемент из множества.
clear() - удаляет все элементы из множества, делая его пустым.

In [5]:
my_set = {"apple", "banana", "cherry"}
my_set.add("orange")
print(my_set)

{'banana', 'cherry', 'apple', 'orange'}

In [6]:
my_set = {"apple", "banana", "cherry"}
my_set.remove("banana")
print(my_set)

{'cherry', 'apple'}

In [7]:
my_set = {"apple", "banana", "cherry"}
my_set.discard("banana")
print(my_set)

{'cherry', 'apple'}

In [8]:
my_set = {"apple", "banana", "cherry"}
deleted = my_set.pop()
print(my_set)
print(deleted)

{'cherry', 'apple'}
banana

In [9]:
my_set = {"apple", "banana", "cherry"}
my_set.clear()
print(my_set)

set()